---
cloudfront_key_pair_id:
cloudfront_private_key: |
  (Multi-line key goes here...)

aws_access_key_id:
aws_secret_access_key:

photos_api_ssl_key: |
  (Multi-line key goes here...)

photos_api_ssl_certificate: |
  (Multi-line certificate goes here...)
